school-list {
  display: block;
  columns: 2 450px;
  -moz-columns: 2 450px;
  -webkit-columns: 2 450px;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  max-width: 950px;
  margin: 0 auto;
}