<div class = "full-width">
  <div class = "row w-100">
    <div class="col-1 align-center section-name"><div class="highlight" [class.highlight-selected]="isSelected()">{{section.shortname}}</div></div>
    <div class="col-2 align-center section-details">
      <div>
        <span *ngIf="doesConflict()" placement="top" triggers="mouseenter:mouseleave" title="Section Conflicts"><img class="conflict-img" src="assets/images/red_exclamation.svg" /></span>
        <span class="section-crn">{{section.crn}}</span>
        <span *ngIf="section.instructors.length < 1; else hasProf" placement="top" triggers="mouseenter:mouseleave" title="The instructors for this section have yet to be announced or are otherwise unavailable"><img class="tba-icon" src="assets/images/blue_question_mark.png" /></span>
        <ng-template #hasProf>
      	  <span class="section-instructors">{{ section.instructors.join(', ') }}</span>
        </ng-template>
        <div class="section-seats">
          {{ section.seats - section.seatsTaken }}
          <span>/{{ section.seats }} seats</span>
        </div>
      </div>
    </div>
    <div class ="col-9">
      <table class = "section-periods">
        <tr *ngFor="let week of periods">
          <span *ngFor="let period of week; let i = index">
            <td [ngClass]="{'period-time-conflict':doesConflict()===true, 'period-time-no-conflict':doesConflict()===false}">
              <div class = "col-12">
                <div class="row">
                  <span *ngIf="period">{{ getHours(period) }}</span>
                  <span *ngIf="!period">&nbsp;</span>
                </div>
              </div>
            </td>
          </span>
        </tr>
      </table>
    </div>
  </div>
</div>
