<div class = "full-width">
  <div class = "row w-100">
    <div class="col-1 align-center section-name"><div class="highlight" [class.highlight-selected]="isSelected()">{{section.shortname}}</div></div>
    <div class="col-2 align-center section-details">
      <div>
        <span *ngIf="doesConflict()" placement="top" triggers="mouseenter:mouseleave" title="Section Conflicts"><img class="conflict-img" src="assets/images/red_exclamation.svg" /></span>
        <span class="section-crn"> {{section.crn}}</span>
        <span class="section-instructors"> {{ section.instructors.join(', ') }}</span>
        <div class="section-seats">
          {{ section.seats - section.seatsTaken }}/{{ section.seats }} seats
        </div>
      </div>
    </div>
    <div class ="col-9">
      <table class = "section-periods">
        <tr *ngFor="let week of periods">
          <span *ngFor="let period of week; let i = index">
            <td [ngClass]="{'period-time-conflict':doesConflict()===true, 'period-time-no-conflict':doesConflict()===false}">
              <div class = "col-12">
                <div class="row" style = "margin-top: 12.175px">
                  <span *ngIf="period" style="margin-left: auto; margin-right: auto;">{{ getHours(period) }}</span>
                  <span *ngIf="!period" style="margin-left: auto; margin-right: auto;">&nbsp;</span>
                </div>
              </div>
            </td>
          </span>
        </tr>
      </table>
    </div>
  </div>
</div>
