<div class="schedule" [style.height.px] = "totalHeight" #mySchedule>
  <div class="schedule-legend">
    <div class="hour-label" [style.height.%] = "hourHeight" *ngFor="let hour of hours; let i = index">
      <div *ngIf="(i != 0)">{{ hour }}</div>
    </div>
  </div>

  <div class="schedule-grid">
    <div class="grid-day"  [style.width.%] = "dayWidth" *ngFor="let day of days">
      <div class="day-label">{{ day.longname }}</div>
      <ng-container >
          <schedule-event *ngFor="let period of periodsOnDay(day)"
            [style.margin-top.px] = "eventPosition(period)"
            [style.backgroundColor] = "getBackgroundColor(period)"
            [style.borderColor] = "getBorderColor(period)"
            [style.color] = "getTextColor(period)"
            [normalHeight] = "eventHeight(period)"
            [period] = "period">
          </schedule-event>
        <div class="grid-hour" *ngFor="let hour of hours"
          [style.height.%] = "hourHeight" >
        </div>
      </ng-container>
    </div>
  </div>
</div>
