@import "../../_vars.scss";

nav#headerbar {
    width:100%;
    height:50px;
    position:fixed;
    z-index: 1;
    font-family: $font;  
    font-weight: 300;  
    background-color: $yacs_bgs;
    white-space: nowrap;
}

table#navtable {
    width:100%;
    height:100%;
    border-collapse:collapse;
    td {
        text-align:center;
        vertical-align:middle;
    }
}

.sidelink {
    width:160px;
    cursor:pointer;
    a {
        color: #FFFFFF;
        text-decoration:none;
    } 
}

#page-title {
    font-size: 35px;
    span.sub{
        font-size:16px;
    }
}

#search {
    margin:auto;
}

#searchcontainer {
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    color: white;
    background-color: #d57f7f;
    border-radius: 2px;
    width: 100%;
    padding: 3px 4px;
    margin:auto;

}

#searchbar {
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    max-width: 20em;
    border: none;
    width: 100%;
    background-color: inherit;
    color: inherit;
    outline: none;
    &::-ms-input-placeholder {
        color: #FFFFFF;

    }
    &::-moz-placeholder{
        color: #FFFFFF;

    } 
    &::-webkit-input-placeholder {
        color: #FFFFFF;
    }
}

#searchglyph {
    height: 1em;
    vertical-align: sub;
    padding: 0.1em;
}

#schedule-btn {
    font-size:25px
}
