#### Core ####

# compiled output
/dist/core
/tmp
/out-tsc

# dependencies
/web/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/web/.sass-cache
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
/web/npm-debug.log
/web/testem.log
/web/typings

# e2e
/web/e2e/*.js
/web/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# todo: check this in when the build can handle it
package-lock.json