@import "../../_vars.scss";

.footer-column {
    font-family: $font;
    font-weight: 300;
    float: left;
    width: 50%;
    color: #AFAFAF;
    &:last-child {
        text-align: right;
    }
    a {
        text-decoration:none;
        color: #D57F7F;
    }
}

