school {
    display:inline-block;
    width: 475px;
    padding: 0px 1px;
}

noscript {
    color:#933;
    font-weight:bold;
    font-size:150%;
}

div#bottomtext {
    display:block;
    color:#afafaf;
    margin-bottom:8px;
}