.schedule-event{
  //margin-top: 1px;
  border-left: 4px solid;
  border-opacity: 1;
  overflow: hidden;
  height: 100%;
}

.event-text {
  padding: 4px;
  font-weight: bold;
  font-size: small;
  box-sizing: border-box;
}

