.schedule-event{
  position: absolute;
  //margin-top: 1px;
  border-left: 4px solid;
  border-opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
}

.event-text {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 4px;
  font-weight: bold;
  font-size: small;
  overflow: hidden;
  box-sizing: border-box;
}