<div class="course-info">
  <div class="row">
  <div class="col-sm-1">
  	<div class= "indicator"></div>
  </div>
  <div class="col-sm-5">
    <div class="course-name">{{course.name}}</div>
    <div class= "course-details">
  	  <div><span>{{subjectCode()}}</span> 
      <span>{{course.number}}</span></div>
      <div class="credit-range">{{creditRange}}</div>
    </div>
  </div>
  <div class="col-sm-6">

    <div class= "info-button"><button type="button" class="info-btn" placement="right" [popoverTitle]= "courseSubtitle" [ngbPopover]= "course.description">
	<img src="assets/images/info.svg" />
	</button></div>

	<div class = "align-menu">
	<div class="menu" (click)="showSections = !showSections" >
		<span *ngIf="!showSections"><span class="collapsed-sections">Sections </span><i class="arrow down"></i></span>
		<span *ngIf="showSections"><i class="arrow up"></i></span>
	</div>

	<div *ngIf="showSections">
	  <div *ngFor="let theSection of course.sections">
		  <clipboard-section [ngClass]="{ 'selected': isSectionSelected(theSection), 'closed': theSection.seats_taken >= theSection.seats, 'conflicts': doesConflict(theSection.id) }" [section]="theSection" (click)="clickSection(theSection)"></clipboard-section>
	  </div>
	</div>
	</div>

  </div>
  </div>
</div>