<div id="schedule-content">
  <div id="schedule-bar">
    <div id="left">
      <div id="switch">
        <span id="left-switch" class="schedule-switch">&#9664;</span>
        <span id="schedule-num">0</span> / <span id="schedule-count">0</span>
        <span id="right-switch" class="schedule-switch">&#9654;</span>
      </div>
      <button type="button" id="clear-btn" class="clear-button">Clear</button>
      <button type="button" id="ics-btn" class="clear-button">Download ICS</button>
    </div>
    <div id="right">
      <div id="schedule-status"></div>
    </div>
  </div>
  <div id="schedule-container"></div>
</div>
<div id="selection-container"></div>
