@import "../../../_vars.scss";

.sidebar-status {
  font-weight: 600;
  -moz-user-select:text;
  -webkit-user-select:text;
  -ms-user-select:text;
}

.alert-sidebar {
  background-color: #d57f7f;
  color: #ffffff;
}

.font-weight-300 {
  font-weight: 300;
}
