@import "../../../_vars.scss";

.course {
  margin: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 5px 2px #efefef;
  height: 100%;
  min-width: 485px;
  /*max-width: 950px;*/
}

.menu {
  align: right;
  color: #cecece;
  padding: 0;
  margin: .05em;
  font-weight: 400;
  text-align: right;
}

.padded {
  padding-left: 0;
  padding-right: 2em;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fixed-height {
  height: 7em;
}

.course-name {
  margin-top: 10px;
  font-size: 100%;
  font-weight: 600;
}

.course-details {
  float: left;
  color: #969696;
  font-size: 90%;
}

.course-description {
  height: 3.6em; /* exactly three lines */
  text-overflow: -o-ellipsis-lastline;
}
.dept-code {
  margin-left:1em;
}

.credit-range {
  margin-left:0.7em;
}

.course-description {
  display:block;
  font-size:87%;
  text-align: justify;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}

.separator {
  background: #efefef;
  height: 1px;
  padding:0;
  margin:0;
}

section {
  display:block;
  margin:0;
  padding:0;
  overflow:auto;
  font-size: 90%;
  width: 100%;
}

section:not(.selected) {
  background-color: white;
  color: black;
}

section.conflicts, section.conflicts:hover {
  color: #aaa;
}

section.closed, section.closed:hover {
  color: #888;
}

.indicator {
  height: 7em;
  width: 1.2em;
}

.indicator-selected {
  background: $yacs_bgs;
}

.indicator-unselected {
  background: #efefef;
}

.indicator-container {
  padding-left: 15px;
  padding-right: 15px;
}

.indicator-hover {
  background: $yacs_acc;
}

.zero-margins {
  padding:0 !important;
  margin:0 !important;
}

.full-width {
  width: 100%;
}