.course {
  border: .2em solid #d57f7f;
  border-radius: 15px;
  box-shadow: 0 5px 5px #cecece;
  padding: 10px;
  margin: 5px;
}

.menu {
  background-color: white;
  color: black;
  border: .05em solid #cecece;
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
}

.course-name {
    font-size: 130%;
    font-weight: 400;
}
.dept-code {
    margin-left:1em;
}
.credit-range {
    margin-left:0.7em;
}
.course-description {
    display:block;
    font-size:87%;
    text-align: justify;
}
:host:not(.selected)>.course-info:hover ~ .section-list section:not(.selected):not(.closed) {
    background-color: #d57f7f;
}
:host.selected>.course-info:hover ~ .section-list section.selected {
    color: #efefef;
    background-color: #d57f7f;
}
section {
    display:block;
    margin:0px 0px 0px 5px;
    padding:4px 4px 4px 8px;
    overflow:auto;
    font-size: 90%;
}
section:not(.selected):hover {
    background-color: #d57f7f;
}

section:not(.selected) {
    background-color: white;
    color: black;
}

section.selected:hover {
    color: #efefef;
    background-color: #d57f7f;
}
section.conflicts, section.conflicts:hover {
    color: #aaa;
}

section.selected {
    color: #efefef;
    background-color: #c65353;
}
section.closed, section.closed:hover {
    color: #888;
}

.highlight {
    background-color:  #9b423e;
    color: white;
}

.menuhighlight {
    background-color: #c65353;
}

.interested {
    padding: 5em 2em 4em 2em;
    margin-right: 1em;
    float: left;
    border: .2em solid #d57f7f;
    border-radius: 15px;
}