<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YACSiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61A5BF3D1BAF32EE00E652CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A5BF591BAF32EE00E652CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A5BF641BAF32EE00E652CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
