.school-longname {
    display:block;
    /*width:600px;*/
    margin-right:10px;
    font-size:21px;
    font-style:italic;
    padding: 0px 1px;
    border-bottom: 1px black solid;
}

.subject-list {
    display:block;
    margin-bottom: 15px;
    font-size:17px;
}

subject {
    display:block;
    cursor:pointer;
    padding:2px 5px;
    /*width:5;*/
}
subject:hover {
/*    color: #fff;
    background-color: #933;*/
    color: white;
    background-color: #c65353;
}