.school-longname {
    display:block;
    /*width:600px;*/
    /*margin-right:10px;*/
    font-size:22px;
    font-style:italic;
    padding: 2px 7px;
    border-bottom: 1px rgba(108, 90, 90, 0.1) solid;
    background-color: rgba(108, 90, 90, 0.15);
}

.subject-list {
    display:block;
    margin-bottom: 15px;
    font-size:17px;
}

subject {
    display:block;
    cursor:pointer;
    padding:2px 12px;
    /*width:5;*/
}
subject:hover {
/*    color: #fff;
    background-color: #933;*/
    color: white;
    background-color: #c65353;
}