<div class = "container full-width">
  <div class = "row">
    <div class="col-xs-1 align-center section-name"><div class="highlight" [class.highlight-selected]="isSelected()">{{section.name}}</div></div>
    <div class="col-xs-3 align-center section-details">
      <table>
        <tr class="section-crn">{{section.crn}}</tr>
        <span class="section-instructors">{{ section.instructors.join(', ') }}</span>
        <tr class="section-seats-available">
          {{ section.seats-section.seats_taken }}
          <span class="section-seats">/{{ section.seats }} seats</span>
          <img *ngIf="doesConflict(section.id)" class="conflict-img" src="assets/images/red_exclamation.svg" />
        </tr>
      </table>
    </div>
    <div class ="col-auto">
      <table class = "section-periods">
        <span>
          <tr *ngFor="let week of periods">
            <span *ngFor="let period of week; let i = index">
              <td class = "period-time">
                <div class = "col-12">
                  <div class="row" [class.grey]="i%2==0">
                    <span *ngIf="period">{{ getHours(period) }}</span>
                    <span *ngIf="!period">&nbsp;</span>
                  </div>
                </div>
              </td>
            </span>
          </tr>
        </span>
      </table>
    </div>  
  </div>
</div>
