<span class="section-information">
  <span class="section-name">{{section.name}}</span>
  <span class="section-crn">{{section.crn}}</span>
  <span class="section-instructors">{{ section.instructors.join(', ') }}</span>
  <span class="section-seats-available">
    {{ section.seats-section.seats_taken }}<span class="section-seats">/{{ section.seats }} seats</span>
  </span>
</span>

<div *ngIf="doesConflict(section?.id)" class="conflict-note">
  <span class="conflict-img-center"></span>
  <img class="conflict-img" src="assets/images/red_exclamation.svg" />
  <span class="conflict-text">
    Conflicts with selected sections
  </span>
</div>

<div class="section-periods">
  <span class="period" *ngFor="let period of section.periods">
    <span class="period-day">{{ getDay(period) }}</span>
    <span class="period-time">{{ getHours(period) }}</span>
  </span>
</div>
