// header-bar {
//   width:100%;
//   height:50px;
//   position:fixed;
//   z-index: 1;
//   color: white;
//   background-color: #c65353;
//   white-space: nowrap;
// }

img#loading {
  position:absolute;
  top: 50%;
  left: 50%;
  /* browsers handle fractional pixel values differently, but the worst that
     can happen is that it's 1/2 pixel off center. So it's best to use the
     real values (half of the image width and height) here. */
  margin-top: -4.5px;
  margin-left: -62.5px;
}

.wrapper {
  display: flex;
  align-items: stretch center;
  position: relative;
}

@media (max-width: 570px) {
  #sidebar {

  }
}

@media (min-width: 570px) {
  #sidebar {

  }
}


.leftmargin {
  margin-left: 400px;
}

button {
  max-height: 35px;
  background: none;
  border: none;
  border-shadow: none;
  position: absolute;
  z-layer: 99999;
  align-items: left;
}

.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
  margin: 0px auto;
  max-width: 950px;
}

.row {
  flex-wrap: nowrap;
}