<nav id="headerbar">
  <table id="navtable">
    <tr>
      <td class="sidelink" id="page-title">YACS <span class="sub">beta</span></td>
      <td><input id="searchbar" placeholder="Search for courses, departments, and professors.."></input></td>
      <td class="sidelink" id="schedule-btn">Schedule</td>
    </tr>
  </table>
</nav>

<div id="content">
<article id="about">
  <h1>About YACS</h1>
  <p>YACS is an open-source course scheduler for the community at Rensselaer Polytechnic Institute. It is developed in the <a href="http://rcos.io">Rensselaer Center for Open Source</a> and is sponsored by Red Hat. It's got a <a href="http://github.com/aosdict/yacs">repository on Github</a> and a <a href="http://yacsblog.wordpress.com">blog on Wordpress</a>. If you have a bug report or feature request, send us an email at <a href="mailto:yacsrpi@gmail.com">yacsrpi@gmail.com</a>.
  </p>
  <h2>History</h2>
  <p>The project was started by Jeff Hui, RPI Class of '12, who launched the first site yacs.me as a replacement to the increasingly antiquated Rensselaer Open Couse Scheduler. The site became a staple of RPI over the years, but it fell into disrepair after the original development team had been gone for a couple of years. In the fall 2015 semester, a new group was formed to repair the site and bring it back up for the upcoming semesters. The code base was refactored into Ruby on Rails and built from the ground up, with the project finally launching to the RPI community on March 21, 2016. 
  </p>
  <h2 class="bottomrule">Development Team</h2>
  <h3>Current developers</h3>
  <table id="currentdevs">
    <tr>
      <td>Cameron Root</td>
      <td>Fall 2015 - Spring 2016</td>
    </tr>
    <tr>
      <td>Richie Young</td>
      <td>Fall 2015 - Spring 2016</td>
    </tr>
    <tr>
      <td>James Grippo</td>
      <td>Fall 2015 - Spring 2016</td>
    </tr>
    <tr>
      <td>Wyatt Kroemer</td>
      <td>Spring 2016</td>
      <td></td>
    </tr>
    <tr>
      <td>Aesa Kamar</td>
      <td>Spring 2016</td>
      <td></td>
    </tr>
  </table>
  <h3>Past developers</h3>
  <table id="pastdevs">
    <tr>
      <td>Jeff Hui (Original yacs.me developer)</td>
      <td>Fall 2010 - Fall 2011</td>
    </tr>
    <tr>
      <td>Jinzhen Gong</td>
      <td>Spring 2011 - Fall 2011</td>
    </tr>
    <tr>
      <td>Arijit Deb</td>
      <td>Fall 2015</td>
    </tr>
  </table>
</article>
</div>
