<nav id="headerbar">
  <table id="navtable">
    <tr>
      <a href="#/">
        <td class="sidelink" id="page-title">YACS <span class="sub">beta</span></td>
      </a>
      <td>
        <span id="searchcontainer">
          <img id="searchglyph" src="search.svg"/>
          <input id="searchbar" placeholder="Search"/>
        </span>
      </td>
      <a href="#/schedules">
        <td class="sidelink" id="schedule-btn">Schedule</td>
      </a>
    </tr>
  </table>
</nav>

<div id="content">
  <noscript>
    YACS requires Javascript to work. Please enable Javascript to use YACS.
  </noscript>
  <%= image_tag 'loading.gif', id: 'loading' %>
</div>

<footer>
  <div class="footer-column">
    <div>A Red Hat-supported RCOS project.</div>
    <div>Inspired by Jeff Hui's YACS.</div>
  </div>
  <div class="footer-column">
    <div>Yacs v0.7 - Newer and Bluer Horizons</div>
    <div>
      We love feedback!
      <a href="https://github.com/YACS-RCOS/yacs/">Github</a>
      |
      <a href="mailto:yacsrpi@gmail.com">Email</a>
    </div>
  </div>
</footer>
