<nav id="headerbar">
  <table id="navtable">
    <tr>
      <td class="sidelink" id="page-title">YACS <span class="sub">beta</span></td>
      <td>
        <span id="searchcontainer">
          <span>find your</span>
          <input id="searchbar" placeholder="course, professor, department..."></input>
        </span>
      </td>
      <td class="sidelink" id="schedule-btn">Schedule</td>
      <!-- TODO uncomment the button below to use header clear selection button -->
      <!--td class="sidelink" id="clearButton">Clear Selection</td-->
    </tr>
  </table>
</nav>

<div id="content">
  <noscript>
    YACS requires Javascript to work. Please enable Javascript to use YACS.
  </noscript>
  <%= image_tag 'loading.gif', id: 'loading' %>
</div>
