<nav id="headerbar">
  <table id="navtable">
    <tr>
      <td class="sidelink" id="page-title">YACS <span class="sub">beta</span></td>
      <td>
        <input id="searchbar" placeholder="Search for courses, departments, and professors.."></input>
      </td>
      <td class="sidelink" id="schedule-btn">Schedule</td>
    </tr>
  </table>
</nav>

<div id="content">
  <noscript>
    YACS requires Javascript to work. Please enable Javascript to use YACS.
  </noscript>
  <%= image_tag 'loading.gif', id: 'loading' %>
</div>
