<nav id="headerbar">
  <table id="navtable">
    <tr>
      <td class="sidelink" id="page-title">
        <a href="#/">YACS <span class="sub">beta</span></a>
      <td>
        <span id="searchcontainer">
          <img id="searchglyph" src="search.svg"/>
          <input id="searchbar" placeholder="Search Spring 2017"/>
        </span>
      </td>
      <td class="sidelink" id="schedule-btn">
        <a href="#/schedules">Schedule</a>
      </td>
    </tr>
  </table>
</nav>

<div id="content">
  <noscript>
    YACS requires Javascript to work. Please enable Javascript to use YACS.
  </noscript>
  <%= image_tag 'loading.gif', id: 'loading' %>
</div>



<footer id="footer">
  
</footer>
