<div class="schedule" [style.height.px] = "schedule.height">
  <div class="schedule-legend">
    <div class="hour-label" [style.height.%] = "getHourHeight" *ngFor="let hourNum of schedule.hourNums ; let i = index">
      <div *ngIf="(i != 0)">{{ hourName(hourNum) }}</div>
    </div>
  </div>

  <div class="schedule-grid">
    <div class="grid-day"  [style.width.%] = "getDayWidth" *ngFor="let dayNum of schedule.dayNums">
      <div class="day-label">{{ longDayName(dayNum) }}</div>
      <ng-container >
          <schedule-event *ngFor="let p of periodsOnDay(dayNum)" 
            [style.margin-top.px] = "eventPosition(p.startTime)"
            [style.backgroundColor] = "schedule.colors[p.color]"
            [style.height.px] = "eventHeight(p.endTime - p.startTime)"
            [style.borderColor] = "schedule.border_colors[p.color]"
            [style.color] = "schedule.text_colors[p.color]"
            [scheduleEvent] = "p">
          </schedule-event>
        <div class="grid-hour" *ngFor="let hourNum of schedule.hourNums"
          [style.height.%] = "getHourHeight" >
        </div>
      </ng-container>
    </div> 
  </div>
</div>
