.app-container {
  height: 100vh;
}

.content-container-wrapper {
  height: 100%;
  overflow-x: hidden;
  // overflow-y: scroll;
}

.sidebar-content-container {
  overflow-y: scroll;
  flex-shrink: 0;
}

.main-content-container {
  overflow-x: hidden;
}


img#loading {
  position:absolute;
  top: 50%;
  left: 50%;
  /* browsers handle fractional pixel values differently, but the worst that
     can happen is that it's 1/2 pixel off center. So it's best to use the
     real values (half of the image width and height) here. */
  margin-top: -4.5px;
  margin-left: -62.5px;
}

@media (min-width: 576px) {
  .sidebar-content-container {
    max-width: 540px;
  }

  .sidebar-toggle {
    top: 60px;
    bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .sidebar-content-container {
    width: 100%;
  }

  .sidebar-toggle {
    top: 60px;
    height: 50px;
  }
}

.leftmargin {
  margin-left: 400px;
}

/* defines properties for sidebar button */
.sidebar-toggle {
  background: #b2b2b2;
  border: none;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  z-index: 99999;
  align-items: stretch;
  position: fixed;
}

/* properties for mouse hover */
.sidebar-toggle:hover {
  background-color: #d57f7f;
}

.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// footer {
//   margin: 0px auto;
//   max-width: 950px;
// }

.row {
  flex-wrap: nowrap;
}

button:focus{
  outline: none;
}