<div class="app-container">
	<div class="header-container item">
		<header-bar></header-bar>
		<notice-bar></notice-bar>
	</div>
	<!-- <div class="content-container-wrapper">  -->
	  <button (click)="toggleSidebar()">
	    <i [class.right]="showingSidebar" [class.left]="!showingSidebar"></i>
	  </button>
	  <div class="sidebar-content-container item">
	  	<sidebar [hidden]="showingSidebar"></sidebar>
	  </div>
		<div class="main-content-container item">
		  <router-outlet></router-outlet>
		</div>
	<!-- </div> -->
	<div class="footer-container item">
		<footer></footer>
	</div>
</div>
