/* homepage.js - file for all processing, rendering, and events on the home
   page. */

/* ****************************************************************************
   Helper function that calculates how many columns can fit on the home page.
   This is its own function because it will be called from multiple locations
   in the code. */
function getNumHomePageColumns() {
  // Get the width of the window, in as cross-browser a way as possible
  var width = window.innerWidth || document.documentElement.clientWidth
    || document.body.clientWidth;
  return Math.floor(width /
		    (nsYacs.deptColumnWidth + (nsYacs.deptColumnMargin * 2)));
}


// Once the departments XML has been loaded into div#content, do any other steps
// needed to crunch it into presentable form.
function setupHomePage() {
  // Add a click event listener to all departments to load that department's
  // courses from the API
  var allDepartments = document.getElementsByTagName('department');
  for(var i=0; i<allDepartments.length; ++i) {
    // needs a closure to prevent deptID from being the same on all
    // event listeners
    (function () {
      var dept = allDepartments[i];
      var code = firstChildWithTag(dept, 'department-code').innerHTML;
      var deptID = firstChildWithTag(dept, 'department-id').innerHTML;
      dept.addEventListener('click', function() {
	nsYacs.searchbar.value = code + ' ';
	loadCourses('/api/v5/courses.xml?department_id=' + deptID);
      });
    }())
  }
  //History.pushState({state:nsYacs.homePage}, "Home page", "?state=0");
}


// Anything that has to be done when loading up the front page.
function loadHomePage() {
  clearForNewPage();
  doAjaxRequest("/api/v5/departments.xml", function(response) {
    nsYacs.contentContainer.innerHTML = response;
    setupHomePage();
    nsUser.currentPage = nsYacs.homePage;
    //nsYacs.contentContainer.innerHTML += '<div id="bottomtext">&copy; 2016 The YACS Dev Team. A Red Hat-supported RCOS project.</div>';
  });
}
