<div *ngIf="!isLoaded" class="loader"></div>
<div class="schedule-view">
  <div class="schedule-menu">
    <div class="switch">
      <span class="schedule-switch" (click) = "scheduleSet.decrementActiveSchedule()">&#9664;</span>
      <span class="schedule-index">{{activeScheduleIndex}} / {{scheduleSet.numSchedules}}</span>
      <span class="schedule-switch" (click) = "scheduleSet.incrementActiveSchedule()">&#9654;</span>
    </div>
    <div>
      <button tabindex=0 class="schedule-button" (click) = "clearSelections()" alt="Clear Sections">Clear</button>
      <div ngbDropdown class="d-inline-block">
        <button tabindex=0 class="schedule-button" id="dropdownBasic1" ngbDropdownToggle alt="share">
          Share
        </button>
        <div ngbDropdownMenu>
          <button tabindex=0 class="schedule-button dropdown-item" (click)="downloadImage()" alt="Save as Image">Save as Image</button>
          <button tabindex=0 class="schedule-button dropdown-item" (click)="downloadICSFile()" alt="Save as iCalendar">Save as iCalendar</button>
          <button tabindex=0 class="schedule-button dropdown-item" [disabled]="isTemporary" alt="Copy Schedule Link (disabled)">Copy Schedule Link (disabled)</button>
        </div>
      </div>
    </div>
    <div class="schedule-status">
      {{ statusText }}
    </div>
  </div>
  <schedule [scheduleSet]="scheduleSet"></schedule>
  <div class="class-info1" *ngIf="this.showing()">
    Foundations of Computer Science<br>
    CSCI 2200 Lecture<br>
    93886<br>
    Malik Magdon-Ismail<br>
    Sage 3303
   </div>

    <div class="class-info1" *ngIf="this.showing()">
    Foundations of Computer Science<br>
    CSCI 2200 Lecture<br>
    93886<br>
    Malik Magdon-Ismail<br>
    Sage 3303
   </div>

    <div class="class-info2" *ngIf="this.showing()">
    Foundations of Computer Science<br>
    CSCI 2200 Lecture<br>
    93886<br>
    Malik Magdon-Ismail<br>
    Sage 3303
   </div>
</div>
