@import "../../_vars.scss";

.course {
  padding: 0em;
  box-shadow: 2px 2px 5px 2px #efefef;
  height: 100%;
}

@media (min-width: 576px) {
	.course {
	  min-width: 485px;
    min-height: 7em;
    margin: 10px 10px 10px 10px;
	}
  .min-height {
    min-height: 7em;
  }
	.fixed-height {
	  height: 7em;
	}
}

@media (max-width: 575.98px) {
	.course {
		min-width: 345px;
    margin: 10px 0px 10px 0px;
	}
	.fixed-height {
	  height: 8.5em;
	}

	.course-description {
		display: none !important;
	}
  .description-tooltip {
    display: none;
  }
}

.description-tooltip {
	bottom: 67px;
	right: 29px;
  width: 24px;
  height: 24px;
}

.remove-button {
  bottom: 39px;
  right: 29px;
  width: 24px;
  height: 24px;
}


.menu {
  align: right;
  color: #cecece;
  padding: 0;
  margin: .05em;
  font-weight: 400;
  text-align: right;
  bottom: 0.8em;
  right: 35px;
}

.period-days {
  display: flex;
  text-align: right;
  padding-right: 2.9em;
  font-size: 78%;
  font-weight: 600;
  padding-bottom: 2px;

}

.padded {
  display: inline-block;
  width: 63px;
  text-align: center;
  border-bottom: solid 1px #efefef;
}

.vertical-separators {
  display: block;
  background: #fbfbfb;
  width: 63px;
  border-left: solid 1px #fbfbfb;
  top: 1.2em;
  bottom: 0.5em;
}
.thurs {
  right: 6.4em;
}
.tues {
  right: 14.65em;
}

i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}

.arrow {
  margin-left: 0em;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-container {
  padding-left: .4em;
  padding-right: .1em;
  height: 1.5em;
  width: 1.1em;
}

.down-arrow:hover {
  animation: shake 0.3s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.course-content {
	padding-right: 35px;
}

.course-name {
  font-size: 100%;
  font-weight: 600;
}

.course-details {
  float: left;
  color: #3d3d3d;
  font-size: 90%;
}

.dept-code {
  margin-left:1em;
}

.credit-range {
  margin-left:0.7em;
}

.course-name:hover {
  cursor: pointer;
}

.course-details:hover {
  cursor: pointer;
}

.hideDescription {
  font-size:95%;
  text-align: justify;
  color: #969696;
  margin-right: 2em;
  line-height: 1.7em;
}

.hideDescription:hover {
  cursor: pointer;
  color: black;
}

.overflow-hide {
  overflow: hidden;
  height: 3.4em;
}

.showDescription {
  font-size:95%;
  text-align: justify;
  margin-right: 2em;
  line-height: 1.7em;
}

.showDescription:hover {
  cursor: pointer;
  color: black;
}

.selectedDescription {
  color: black;
}

.separator {
  background: #efefef;
  height: 1px;
  padding:0;
  margin:0;
}

section {
  display:block;
  margin:0;
  padding:0;
  overflow:auto;
  font-size: 90%;
  width: 100%;
}

section:not(.selected) {
  background-color: white;
  color: black;
}

section.conflicts, section.conflicts:hover {
  color: #aaa;
}

section.closed, section.closed:hover {
  color: #4a3c3c;
}

.indicator {
  width: 1.2em;
}

.indicator-selected {
  background: $yacs_bgs;
}

.indicator-selected-hover {
  background: $yacs_acc;
}

.indicator-unselected {
  background: #efefef;
}

.indicator-container {
  padding-left: 15px;
  padding-right: 15px;
}

.indicator-hover {
  background: #969696;
}

.table-margin {
  margin-bottom: 1em;
}

.zero-margins {
  padding:0 !important;
  margin:0 !important;
}

.full-width {
  width: 100%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.warning {
    position: absolute;
    height: auto;
    max-width: 175px;
    opacity: 0.25;
    margin-left: -15px;
    margin-top: -5px;
    z-index: 1;
}

table {
    position: relative;
}

.closed-conflict {
  float: left;
  color: white;
  font-size: 80%;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 5px;
  margin-right: 10px
}

.blocked-tags {
  width: 145px;
}

.course-info {
  height: 1em;
}

tr.align {
  vertical-align: top;
}

.some {
  border: 1px solid #E5C201;
  background-color: #E5C201;
}

.all {
  border: 1px solid #C65353;
  background-color: #C65353;
}
