<div id="scheduleContent">
  <div id="scheduleBar">
    <span id="leftswitch" class="scheduleswitch">&#9664;</span>
    Schedule <span id="schedNum">1</span>/{{data.schedules.length}}
    <span id="rightswitch" class="scheduleswitch">&#9654;</span>
  </div>
  <div id="scheduleContainer"></div>
  <div id="crns"></div>
  <!-- Previously the div#deselectContent is here, but we are going to redesign that whole system so I am not putting it here -->
</div>
