<div id="scheduleContent">
  <div id="scheduleBar">
    <div id="switch">
      <span id="leftswitch" class="scheduleswitch">&#9664;</span>
      <span id="schedNum">1</span> / 12
      <span id="rightswitch" class="scheduleswitch">&#9654;</span>
    </div>
    <div id="crns">CRNs: 25565, 25565, 25565, 25565</div>
  </div>
  <div id="scheduleContainer" />
  <div id="scheduleContainer"></div>
</div>
