<div id="scheduleContent">
  <div id="scheduleBar">
    <div id="switch">
      <span id="leftSwitch" class="scheduleswitch">&#9664;</span>
      <span id="scheduleNum">0</span> / {{schedules.length}}
      <span id="rightSwitch" class="scheduleswitch">&#9654;</span>
      <span id="clearSwitch" class="">Clear All Selections</span>
    </div>
    <div id="crnList"> </div>
  </div>
  <div id="scheduleContainer" />
</div>
