nav#headerbar {
    width:100%;
    height:50px;
    position:fixed;
    z-index: 1;
    color: white;
    background-color: #c65353;
    white-space: nowrap;
}

nav#headerbar a {
    color:inherit;
}

table#navtable {
    width:100%;
    height:100%;
    border-collapse:collapse;
}
table#navtable td {
    text-align:center;
    vertical-align:middle;
}
table#navtable td.sidelink {
    width:160px;
    cursor:pointer;
}
#page-title {
    font-size:35px;
    font-weight:300;
}
#page-title span.sub {
    font-size:16px;
}
#search {
    margin:auto;
}

#searchbar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fafafa;
}
#searchbar::-moz-placeholder { /* Firefox 19+ */
  color: #fafafa;
}
#searchbar:-ms-input-placeholder { /* IE 10+ */
  color: #fafafa;
}

#searchcontainer {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: white;
    background-color: #d57f7f;
    border-radius: 2px;
    width: 100%;
    padding: 3px 4px;
}
#searchbar {
    /* font needs to be specified again for some reason, I think it's
       something to do with the input tag? */
    font-family: inherit;
    font-size: 18px;
    max-width: 20em;
    font-weight: 300;
    border: none;
    width: 100%;
    background-color: inherit;
    color: inherit;
    outline: none;
}
#searchglyph {
    height: 1em;
    vertical-align: sub;
    padding: 0.1em;
}
#schedule-btn {
    font-size:22px;
}
