body {
    background-color:#ffffff;
    color: #000;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    /* by default, "text" links should be this shade of red -
     * others, like in the header and departments list, are
     * special cases. */
    color: #993333;
}

div#content {
    padding: 60px 15px 0px 15px;
}

img#loading {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

footer {
    margin: 0px auto;
    max-width: 950px;
}

footer .footer-column {
    float: left;
    width: 50%;
    color: #afafaf;
}

footer .footer-column:last-child {
    text-align: right;
}

footer a {
    color: #d57f7f;
}
