/* Styles for the permanent elements on the schedule page. */
#scheduleBar {
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    font-weight: 500;
    margin: 5px;
    margin-right: 20px;
    /* note to maintainers: if the general user-select is standard by now,
       please remove the vendor ones and replace with "user-select:none;" */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}
#scheduleBar:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
#crnList {
    font-size: 90%;
    float: right;
}
#switch {
    float: left;
}
.scheduleswitch {
    padding:5px;
    cursor:pointer;
}
.scheduleswitch.disabled {
    color: #999;
    cursor: default;
}

#scheduleContainer {
    height: 600px;
    margin-right: 15px;
    margin-top: 10px;
}

/* Styles for the schedule grid. */
schedule-view {
  display: block;
  font-size: small;
  position: relative;
  height: 100%;
  margin-left: 3em;
}

schedule-legend {
  position: absolute;
  height: 100%;
  left: -3em;
  width: 3em;
  color: #777777;
}

legend-hour {
  position: absolute;
  height: 0.5em;
  font-size: 0.5em;
  right: 0.75em;
}

schedule-grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

grid-day {
  height: 100%;
  float: left;
}

grid-hour {
  display: block;
  box-sizing: border-box;
  opacity: 0.25;
  border-bottom: 1px solid #999599;
  border-right: 1px solid #999599;
}

grid-day grid-hour:first-child {
  border-top: 1px solid #999599;
}

grid-day:last-child grid-hour {
  border-right: none;
}

grid-hour:last-child {
  border-bottom: none;
}

/*
grid-hour:nth-child(2n) {
  background-color: #e2e2e2;
}
*/

schedule-event {
  position: absolute;
  /* margin-top: 1px; */
  border-left: 4px solid;
  border-opacity: 1;
}

event-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

event-text {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 4px;
  font-weight: bold;
  font-size: small;
}

/* Styles for the individual course types, which have different colors. */
.course0 {
  color: #720;
  background-color: #fdc;
  border-color: #b62;
}
.course1 {
  color: #722;
  background-color: #edd;
  border-color: #b44;
}
.course2 {
  color: #661;
  background-color: #eed;
  border-color: #994;
}
.course3 {
  color: #227;
  background-color: #dde;
  border-color: #448;
}
.course4 {
  color: #166;
  background-color: #dee;
  border-color: #499;
}
.course5 {
  color: #616;
  background-color: #ede;
  border-color: #949;
}
