#scheduleBar {
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    font-weight: 500;
    margin: 5px;
    margin-right: 20px;
    /* note to maintainers: if the general user-select is standard by now,
       please remove the vendor ones and replace with "user-select:none;" */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}
#scheduleBar:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
#crnList {
    font-size: 90%;
    float: right;
}
#switch {
    float: left;
}
.scheduleswitch {
    padding:5px;
    cursor:pointer;
}
.scheduleswitch.disabled {
    color: #999;
    cursor: default;
}

#scheduleContainer {
    height: 600px;
    margin-right: 15px;
    margin-top: 10px;
}

#scheduleContent {
    max-width: 950px;
    margin: 0 auto;
}