#schedule-bar {
    margin-left: auto;
    margin-right: auto;
    /*font-size: 130%;*/
    font-weight: 500;
    margin: 5px;
    margin-right: 20px;
    /* note to maintainers: if the general user-select is standard by now,
       please remove the vendor ones and replace with "user-select:none;" */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}
#schedule-bar:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
#switch {
    float: left;
}
.schedule-switch {
    padding:5px;
    cursor:pointer;
}
.schedule-switch.disabled {
    color: #999;
    cursor: default;
}
#schedule-status {
    margin: 0 auto;
    font-size: 90%;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
#schedule-bar>#left {
    float: left;
}
#schedule-bar>#right {
    float: right;
    height: 1em;
}

#schedule-container {
    height: 600px;
    margin-right: 15px;
    margin-top: 10px;
    position:relative; /* so the overlay will position properly */
}

#schedule-content {
    max-width: 950px;
    margin: 0 auto;
}

.clear-button {
    border: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: #c65353;
    color: #ffffff;
    background-color: #d57f7f;
    font-size: 14px;
    outline: none;
}

.clear-button:focus {
    background-color: #c65353;
}

.clear-button:disabled {
  border-color: #a88;
  background-color:#daa;
}

/* Should be the same max width as #schedule-content. */
#temp-schedule-notice {
    max-width: 950px;
    margin: 1.5em auto;
}

schedule-view {
  /* Force display under loading overlay. */
  z-index: -1;
}

#schedule-loading {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  /* use rgba so that opacity of children is NOT inherited, this is #efefef */
  background-color: rgba(255, 255, 255, 0.75);
  transition: opacity 0.2s linear;
}
