article #no-results {
    text-align:left;
    width: 60%;
    min-width:400px;
    margin: 0 auto;
}
article #no-results h1 {
    text-align:center;
    padding:15px 0;
    font-size:35px;
}

.center {
  text-align: center;
}

.sis-man{
  display: block;
  margin-left: auto;
  margin-right: 50%;
  height: 400px;
}


.speech-bubble {
    text-align:center;
    background: #efefef;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 400px;
    padding: 15px;
    position: relative;
    margin-left: 50%;
    margin-top: 5%;
    bottom: -19px;
}

.speech-bubble p {
    margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble::after {
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
}