<footer>
	<footer-column>
		<flavortext>{{flavortext}}</flavortext>
		<inspired-by>Inspired by Jeff Hui's YACS.</inspired-by>
	</footer-column>

	<footer-column>
		<version-name>{{yacs-version}}</version-name>
		<feedback>We love feedback!
      <a href="https://github.com/YACS-RCOS/yacs/">Github</a>
      |
      <a href="mailto:yacsrpi@gmail.com">Email</a></feedback>
	</footer-column>
</footer>