<footer-obj>
  <footer-column class="footer-column">
    <div><flavortext>{{flavortext}} <a href="http://rcos.io">RCOS</a> project.</flavortext></div>
    <inspired-by>Inspired by Jeff Hui's YACS.</inspired-by>
  </footer-column>

  <footer-column class="footer-column">
    <div><version-name>YACS Version {{yacsversion}}</version-name></div>
    <div><feedback>We love feedback!
      <a href="https://github.com/YACS-RCOS/yacs/">Github</a>
      |
      <a href="mailto:yacsrpi@gmail.com">Email</a></feedback></div>
  </footer-column>
</footer-obj>

