<div class="container" *ngIf="listing">
  <div class="detail-heading">
    {{listing.subjectShortname}} {{listing.courseShortname}}
  </div>

  <div id="credField" class="form-group form-inline">
    <label for="longnameInput">Course Name&nbsp;</label>
    <input id="longnameInput" class="form-control" [(ngModel)]="listing.longname" placeholder="{{listing.longname}}" #newLongname>
  </div>

  <div id="credField" class="form-group form-inline">
    <label for="minCredInput">Min Credits&nbsp;</label>
    <input id="minCredInput" class="form-control" [(ngModel)]="listing.minCredits" placeholder="{{listing.minCredits}}" #newMinCred>
    &nbsp;&nbsp;&nbsp;
    <label for="maxCredInput">Max Credits&nbsp;</label>
    <input id="maxCredInput" class="form-control" [(ngModel)]="listing.maxCredits" placeholder="{{listing.maxCredits}}" #newMaxCred>
  </div>

  <div id="descField" class="form-group form-inline">
    <label for="descInput">Description&nbsp;</label>
    <textarea id="descInput" class="form-control" [(ngModel)]="listing.description" rows="5" #newDesc></textarea>
  </div>

  <div id="sectionTable">
  <div class="theme-text table-header">
    Sections
    <button class="add-button" (click)="addSection()">+</button>
  </div>
  <table>
    <thead>
      <tr>
        <th class="shortname">Id</th>
        <th class="crn">CRN</th>
        <th class="seatsTaken">Seats Taken</th>
        <th class="seats">Seats</th>
        <th class="instructors">Instructors</th></tr>
    </thead>
    <tbody *ngFor="let section of listing.sections; let i = index" [attr.data-index]="i">
        <tr class="view" [class.open]="section.showPeriods" [class.striped]="i%2">
          <td>
            {{section.shortname}}
          </td>
          <td>
            <input class="crn-input" [(ngModel)]="section.crn" placeholder="{{section.crn}}"/>
          </td>
          <td>
            <input class="seatsTaken-input" [(ngModel)]="section.seatsTaken" placeholder="{{section.seatsTaken}}"/>
          </td>
          <td>
            <input class="seats-input" [(ngModel)]="section.seats" placeholder="{{section.seats}}"/>
          </td>
          <td>
            <input class="instructors-input" [(ngModel)]="section.instructors" (ngModelChange)="inputStringToArray($event, i)" placeholder="{{section.instructors}}"/>
          </td>
          <td>
            <button class="delete-button" (click)="section.showPeriods=!section.showPeriods">Periods</button>
          </td>
          <td>
             <button class="delete-button" (click)="deleteSection(section)">Delete</button>
          </td>
        </tr>
        <tr class="fold" [class.open]="section.showPeriods">
          <td colspan="7">
            <p *ngFor="let period of section.periods;">
              <span>{{period.day}}</span>
              <span>{{period.end}}</span>
              <span>{{period.location}}</span>
              <span>{{period.start}}</span>
              <span>{{period.type}}</span>
            </p>
          </td>
        </tr>
    </tbody>
  </table>
  </div>

  <div id="buttonHolder">
    <button class="schedule-button" id="save" (click)="saveListing()">Save Changes</button>
    <button class="schedule-button" id="cancel" (click)="goBack()">Cancel</button>
  </div>

</div>
