#longnameInput {
  width: 24em !important;
}

#minCredInput {
  width: 2.5em !important;
  margin-right: 5px;
}

#maxCredInput {
  width: 2.5em !important;
}

#descInput {
  width: 80%;
  margin-bottom: 10px;
}

#buttonHolder {
  position: relative;
  left: 0px;
  bottom: 0px;
}

.container{
  margin: auto;
  padding: 35px 50px;
  width: 100%;
  box-shadow: 2px 2px 5px 2px #efefef;
}

.detail-heading {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
}

// Taken from schedule-view/component.scss
.schedule-button {
    color: #ffffff;
    background-color: #c65353;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 5px 15px;
    margin-right: 5px;
}

.schedule-button:hover {
    background-color: #d57f7f;
}

.schedule-button[disabled] {
  background-color:#daa;
}
