#minCredInput {
  width: 70px !important;
}

#maxCredInput {
  width: 70px !important;
}

#descInput {
  width: 90% !important;
}

.listing-detail {
  margin: 10px;
  padding: 0;
  box-shadow: 2px 2px 5px 2px #efefef;
  width: 100%;
}
