<!DOCTYPE html>
<html>
<head>
  <title>YACS 2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <meta content="The usable course scheduler for Rensselaer Polytechnic Institute (RPI). Quickly and easily schedule courses for next semester!" name="description" />
  <meta content="Richie Young, Cameron Root, and Arijit Deb" name="author" />
  <meta content="&copy; 2016 Richie Young, Cameron Root, and Arijit Deb" name="copyright" />
  <meta content="rpi courses, rpi course scheduler, course scheduling, schedule, yacs" name="keywords" />
  <!-- <meta content="width=device-width, initial-scale=1" name="viewport" /> -->
</head>
<body>

<%= yield %>

</body>
</html>
